:root {
  --background-global: #f9ecdb;
  --text-color: #000;
  --line-color: #000;
  --icon-color: #000;
  --icons-alignment: center;
}

/*general*/
body {
  background-color: var(--background-global);
  }

  .tabs {
    display: flex;
  }
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #f0f0f0;
  }
  
  .tab-content {
    display: none;
    text-align: center; /* Wycentrowanie treści na środku */
  }
  
  .tab-content.active {
    display: block;
  }

  .default-text {
    display: block;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .default-text.hide-default {
    display: none;
  }

  .default-text {
    text-align: center; /* Wycentrowanie tekstu */
    margin-bottom: 20px; /* Dodatkowy odstęp od zakładek */
  }
  
  
  /* Dodaj media query dla ekranów o szerokości mniejszej niż 768 pikseli (typowe tablety) */
@media only screen and (max-width: 768px) {
  .tab-content {
    flex-direction: column; /* Ustawiamy zawartość w kolumnie */
  }
  .tab {
    width: 100%; /* Rozciągnij karty na całą szerokość */
  }
}

/* Dodaj media query dla ekranów o szerokości mniejszej niż 480 pikseli (typowe smartfony w orientacji pionowej) */
@media only screen and (max-width: 480px) {
  .tab-content {
    flex-direction: column; /* Ustawiamy zawartość w kolumnie */
  }
  .tab {
    width: 100%; /* Rozciągnij karty na całą szerokość */
  }
}