:root {
    --background-global: #f9ecdb;
    --text-color: #000;
    --line-color: #000;
    --icon-color: #000;
    --icons-alignment: center;
}

/*general*/
body {
    background-color: var(--background-global);
    }

/***header***/   
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: var(--icons-alignment);
  margin: 2rem auto;
  width: 50%;
}

.navbar a {
  text-decoration: none;
  position: relative;
  color: rgb(20, 20, 60);
  font-size: larger;
}

.navbar a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  background-color: var(--line-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

.navbar a:hover::before {
  visibility: visible;
  transform: scaleX(2);
}

/*main*/
.search-container {
  width: 50%;
  display: block;
  margin: 5% auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  font-size: 1rem;
  border: 1px solid black;
  outline: none;
}

input#search-bar:focus {
  border: 1px solid black;
  transition: 0.35s ease;
  color: black;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

/*image*/
.main_index_img {
position: fixed;
width: 30%;
left: 50%;
top:  50%;
transform: translate(-50%,-50%)
}

/*footer*/

  .footer-container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: var(--icons-alignment);
  }
  
  .footer-container.fixed {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  
  .footer-content {
    padding: 0 20px;
  }
  
  .footer-link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    --x: 0;
    --y: 0;
  }
  
  .footer-link svg {
    transform: translate3d(var(--x), var(--y), 10px);
  }
  
  .footer-link-text {
    color: var(--text-color);
    position: relative;
    transition: opacity 0.2s ease-in-out;
  }
  
  .footer-link-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
  }
  
  .footer-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--line-color);
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
  }
  
  .footer-link:hover:after {
    transform: scaleX(0);
  }
  
  .footer-link:hover .footer-link-text {
    opacity: 0;
  }
  
  .footer-link:hover .footer-link-icon {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .footer-content {
    display: flex;
  }
  
  .footer-item:not(:last-of-type) {
    margin-right: 28px;
  }
  
  .footer-link-icon path {
    fill: var(--icon-color);
    pointer-events: none;
  }

/*media queries*/
@media only screen and (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: center;
  }
  .navbar a {
      margin: 5px 0;
  }

  .main_index_img {
      width: 80%;
      height: auto;
  }

  .search-container {
  transform: translate(-5%,-50%);
  width: 80%;
  }

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 20px; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px; 
  }

  .footer-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
      justify-content: space-around;
  } .navbar {
    flex-direction: column;
    align-items: center;
}
.navbar a {
    margin: 5px 0;
}

.main_index_img {
    width: 80%;
    height: auto;
}

.search-container {
transform: translate(-5%,-50%);
width: 80%;
}

.footer-content {
display: flex;
flex-direction: column;
align-items: center;
position: fixed;
bottom: 20px; 
left: 0;
width: 100%;
display: flex;
justify-content: center;
padding-top: 10px; 
}

.footer-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; 
}
}

@media only screen and (min-width: 1025px) {
  .footer-container {
      width: 1%;
      text-align: center;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 9999;
}

.popup input,
.popup button {
    display: block;
    margin-bottom: 10px;
}

.countdown {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}