:root {
  --background-global: #f9ecdb;
  --text-color: #000;
  --line-color: #000;
  --icon-color: #000;
  --icons-alignment: center;
}

/*general*/
body {
  font-family: Avenir, sans-serif;
  background-color: var(--background-global);
  color: var(--text-color);
  display: flex;
  height: 100vh;
  flex-direction: column;
  }

  .tabs {
    display: flex;
    margin-top: 5%;
  }
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #f0f0f0;
  }
  
  .tab-content {
    display: none;
    text-align: center; /* Wycentrowanie treści na środku */
  }
  
  .tab-content.active {
    display: block;
  }

  .default-text {
    display: block;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.active {
    display: block;
  }
  
  .default-text.hide-default {
    display: none;
  }

  .default-text {
    text-align: center; /* Wycentrowanie tekstu */
    margin-bottom: 20px; /* Dodatkowy odstęp od zakładek */
  }


  .back {
    position: relative;
    top: 40px;
    left: 40px;
    width: 100px;
  }
  .back ul {
    display: block;
    margin-bottom: 0;
    list-style: none;
  }
  .back ul li {
    white-space: nowrap;
  }
  .back ul li a {
    text-decoration: none;
  }
  
  .back:hover {
    width: auto;
  }
  
  .back:hover .btn-back div {
    background: rgba(65,138,216,0.25);
  }
  .back:hover .btn-back div svg path,
  .back:hover .btn-back div svg polyline {
    stroke: #418ad8;
  }
  .back:hover .btn-back span {
    transform: translateX(0);
    opacity: 1;
  }
  
  .btn-back {
    display: inline-block;
  }
  .btn-back div {
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white;
    float: left;
  }
  .btn-back div svg {
    fill: none;
    transform: translate(10px, 10px);
  }
  .btn-back div svg path,
  .btn-back div svg polyline {
    stroke: var(--text-color);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .btn-back span {
    display: inline-block;
    color: #418ad8;
    margin-left: 10px;
    line-height: 34px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }
  .btn-back:hover span {
    color: #2b7cd2;
  }
  
  
  /* Dodaj media query dla ekranów o szerokości mniejszej niż 768 pikseli (typowe tablety) */
@media only screen and (max-width: 768px) {
  .tab-content {
    flex-direction: column; /* Ustawiamy zawartość w kolumnie */
  }
  .tab {
    width: 100%; /* Rozciągnij karty na całą szerokość */
  }
}

/* Dodaj media query dla ekranów o szerokości mniejszej niż 480 pikseli (typowe smartfony w orientacji pionowej) */
@media only screen and (max-width: 480px) {
  .tab-content {
    flex-direction: column; /* Ustawiamy zawartość w kolumnie */
  }
  .tab {
    width: 100%; /* Rozciągnij karty na całą szerokość */
  }
}